<main class="main-component">
    <div class="logo">
        <img class="ml-[40%] p2y-" src="assets/images/logo-no-background.ico" alt="logo">
        <h1>Verify Code</h1>
    </div>
    <form action="" method="post">
        <p class="options">Please check your mail for a verification code has been sent, and enter it below. </p>
        <div class="form-control verification">
            <input type="number" name="number" max="1" class="form-input verify">
            <input type="number" name="number" max="1" class="form-input verify" disabled>
            <input type="number" name="number" max="1" class="form-input verify" disabled>
            <input type="number" name="number" max="1" class="form-input verify" disabled>
        </div>
        <div class="signin-button">
            <button class="verify-code" type="submit">Verify</button>
        </div>
    </form>
</main>