<main class="main-component">
    <div class="logo">
        <img class="ml-[40%] p2y-" src="assets/images/logo-no-background.ico" alt="logo">
        <h1>Forgot Password?</h1>
    </div>
    <form action="" method="post" [formGroup]="emailform" (ngSubmit)="submitForm()">
        <p class="options">Enter your email address to reset your password </p>
        <div class="form-control">
            <label for="email">
                Email address
            </label><br>
            <input type="email" formControlName="email" class="form-input" required>
        </div>
        <div class="signin-button">

            <button class="signin" type="submit" [disabled]="emailform.invalid">Send</button>
        </div>
    </form>
</main>